#!/bin/expect -f

set timeout 500
spawn ./installVC4.sh
match_max 100000


expect {
    -re "Are you migrating VC4 from another build?(.*): "  
        {
        send -- "n\r"
        exp_continue
        }
    
    -re ">> " 
        {
        send -- "1\r"
        exp_continue
        }
    -re "Installer has detected that Virtual Control was previously installed in that directory using(.*)Do you wish to reuse the username and database? \[Y/N\]" 
        {
        send -- "Y\r"
        exp_continue
        }
    -re "Press Enter To Continue With Default Value(.*)" 
        {
        send -- "\r"
        exp_continue
        }
    -re "Username:(.*)" 
        {
        send -- "root\r"
        exp_continue
        }
    -re "Please provide the password for root: "
        {
        send -- "{{ mariadb_password }}\r"
        exp_continue
        }
    -re "Please provide new password for the MariaDB Root user: "
        {
        send -- "{{ mariadb_password }}\r"
        exp_continue
        }
    -re "Please confirm the password for root: "
        {
        send -- "{{ mariadb_password }}\r"
        exp_continue
        }
    -re "Please provide a name for the database or press enter to accept the default(.*): "
        {
        send -- "VirtualControl\r"
        exp_continue
        }
    -re "Please provide the name for the  database's user account(.*): "
        {
        send -- "virtualcontrol\r"
        exp_continue
        }
    -re "Please provide a password for the virtualcontrol user or press enter to accept the default(.*): "
        {
        send -- "\r"
        exp_continue
        }
    -re "Please provide a name for the database or press enter to accept the default (default is VirtualControl): "
        {
        send -- "\r"
        exp_continue
        }
    -re "Please provide a password for the virtualcontrol user or press enter to accept the default (default is \[RANDOM STRING\]): "
        {
        send -- "\r"
        exp_continue
        }
    eof
        {
            exit
        }
}
